<a href="https://colab.research.google.com/github/Jalalbaim/Forest-Cover-Classifier/blob/main/CoverType_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Forest Cover Classifier**

- In this project, we will use deep learning to predict forest cover type (the most common kind of tree cover) based only on cartographic variables.

## **1- Preprocess and explore the dataset**
***
- The actual forest cover type for a given 30 x 30 meter cell was determined from US Forest Service (USFS) Region 2 Resource Information System data.
- The covertypes are the following:

  * Spruce/Fir
  * Lodgepole Pine
  * Ponderosa Pine
  * Cottonwood/Willow
  * Aspen
  * Douglas-fir
  * Krummholz

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
path = "/content/drive/MyDrive/dlsp-portfolio-starter-code/dlsp-portfolio-starter-code/cover_data.csv"
df = pd.read_csv(path)
df

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,class
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,3
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,3
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,3
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,3
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,3

Warning: Total number of columns (55) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (581012) exceeds max_rows (20000). Limiting to first (20000) rows.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581012 entries, 0 to 581011
Data columns (total 55 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Elevation                           581012 non-null  int64
 1   Aspect                              581012 non-null  int64
 2   Slope                               581012 non-null  int64
 3   Horizontal_Distance_To_Hydrology    581012 non-null  int64
 4   Vertical_Distance_To_Hydrology      581012 non-null  int64
 5   Horizontal_Distance_To_Roadways     581012 non-null  int64
 6   Hillshade_9am                       581012 non-null  int64
 7   Hillshade_Noon                      581012 non-null  int64
 8   Hillshade_3pm                       581012 non-null  int64
 9   Horizontal_Distance_To_Fire_Points  581012 non-null  int64
 10  Wilderness_Area1                    581012 non-null  int64
 11  Wilderness_Area2                    581012 non-null  int64
 12  Wilderness_Area3                    581012 non-null  int64
 13  Wilderness_Area4                    581012 non-null  int64
 14  Soil_Type1                          581012 non-null  int64
 15  Soil_Type2                          581012 non-null  int64
 16  Soil_Type3                          581012 non-null  int64
 17  Soil_Type4                          581012 non-null  int64
 18  Soil_Type5                          581012 non-null  int64
 19  Soil_Type6                          581012 non-null  int64
 20  Soil_Type7                          581012 non-null  int64
 21  Soil_Type8                          581012 non-null  int64
 22  Soil_Type9                          581012 non-null  int64
 23  Soil_Type10                         581012 non-null  int64
 24  Soil_Type11                         581012 non-null  int64
 25  Soil_Type12                         581012 non-null  int64
 26  Soil_Type13                         581012 non-null  int64
 27  Soil_Type14                         581012 non-null  int64
 28  Soil_Type15                         581012 non-null  int64
 29  Soil_Type16                         581012 non-null  int64
 30  Soil_Type17                         581012 non-null  int64
 31  Soil_Type18                         581012 non-null  int64
 32  Soil_Type19                         581012 non-null  int64
 33  Soil_Type20                         581012 non-null  int64
 34  Soil_Type21                         581012 non-null  int64
 35  Soil_Type22                         581012 non-null  int64
 36  Soil_Type23                         581012 non-null  int64
 37  Soil_Type24                         581012 non-null  int64
 38  Soil_Type25                         581012 non-null  int64
 39  Soil_Type26                         581012 non-null  int64
 40  Soil_Type27                         581012 non-null  int64
 41  Soil_Type28                         581012 non-null  int64
 42  Soil_Type29                         581012 non-null  int64
 43  Soil_Type30                         581012 non-null  int64
 44  Soil_Type31                         581012 non-null  int64
 45  Soil_Type32                         581012 non-null  int64
 46  Soil_Type33                         581012 non-null  int64
 47  Soil_Type34                         581012 non-null  int64
 48  Soil_Type35                         581012 non-null  int64
 49  Soil_Type36                         581012 non-null  int64
 50  Soil_Type37                         581012 non-null  int64
 51  Soil_Type38                         581012 non-null  int64
 52  Soil_Type39                         581012 non-null  int64
 53  Soil_Type40                         581012 non-null  int64
 54  class                               581012 non-null  int64
dtypes: int64(55)
memory usage: 243.8 MB

In [13]:
df.head(10)

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,class
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
5,2579,132,6,300,-15,67,230,237,140,6031,...,0,0,0,0,0,0,0,0,0,2
6,2606,45,7,270,5,633,222,225,138,6256,...,0,0,0,0,0,0,0,0,0,5
7,2605,49,4,234,7,573,222,230,144,6228,...,0,0,0,0,0,0,0,0,0,5
8,2617,45,9,240,56,666,223,221,133,6244,...,0,0,0,0,0,0,0,0,0,5
9,2612,59,10,247,11,636,228,219,124,6230,...,0,0,0,0,0,0,0,0,0,5

In [15]:
columns = df.columns
columns

Index(['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology',
       'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways',
       'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm',
       'Horizontal_Distance_To_Fire_Points', 'Wilderness_Area1',
       'Wilderness_Area2', 'Wilderness_Area3', 'Wilderness_Area4',
       'Soil_Type1', 'Soil_Type2', 'Soil_Type3', 'Soil_Type4', 'Soil_Type5',
       'Soil_Type6', 'Soil_Type7', 'Soil_Type8', 'Soil_Type9', 'Soil_Type10',
       'Soil_Type11', 'Soil_Type12', 'Soil_Type13', 'Soil_Type14',
       'Soil_Type15', 'Soil_Type16', 'Soil_Type17', 'Soil_Type18',
       'Soil_Type19', 'Soil_Type20', 'Soil_Type21', 'Soil_Type22',
       'Soil_Type23', 'Soil_Type24', 'Soil_Type25', 'Soil_Type26',
       'Soil_Type27', 'Soil_Type28', 'Soil_Type29', 'Soil_Type30',
       'Soil_Type31', 'Soil_Type32', 'Soil_Type33', 'Soil_Type34',
       'Soil_Type35', 'Soil_Type36', 'Soil_Type37', 'Soil_Type38',
       'Soil_Type39', 'Soil_Type40', 'class'],
      dtype='object')

In [16]:
for col in list(columns):
  print(df[col].value_counts())
  print("*******************************")

2968    1681
2962    1674
2991    1671
2972    1662
2975    1656
        ...
3779       1
1912       1
3659       1
3771       1
3852       1
Name: Elevation, Length: 1978, dtype: int64
*******************************
45     6308
0      4914
90     4677
135    3834
63     3680
       ...
269     625
244     587
224     506
226     499
360      51
Name: Aspect, Length: 361, dtype: int64
*******************************
11    33824
10    33812
12    33217
13    32419
9     32049
      ...
65        2
58        1
64        1
63        1
66        1
Name: Slope, Length: 67, dtype: int64
*******************************
30      34139
0       24603
150     20785
60      19189
67      15223
        ...
1397        1
1370        1
1355        1
1356        1
1312        1
Name: Horizontal_Distance_To_Hydrology, Length: 551, dtype: int64
*******************************
 0      38665
 3       9298
 10      8863
 7       8741
 6       8590
        ...
 583        1
 582        1
 522        1
 481        1
-173        1
Name: Vertical_Distance_To_Hydrology, Length: 700, dtype: int64
*******************************
150     1332
618     1065
900      918
390      914
1020     900
        ...
7002       1
6801       1
6948       1
6978       1
6711       1
Name: Horizontal_Distance_To_Roadways, Length: 5785, dtype: int64
*******************************
226    11657
228    11374
230    11355
224    11210
223    10887
       ...
57         2
36         1
55         1
53         1
50         1
Name: Hillshade_9am, Length: 207, dtype: int64
*******************************
228    13696
231    13666
233    13297
229    13271
230    13258
       ...
45         1
40         1
30         1
91         1
64         1
Name: Hillshade_Noon, Length: 185, dtype: int64
*******************************
143    7333
145    7217
138    7065
146    6915
142    6902
       ...
2        15
3        15
251      11
253       8
254       4
Name: Hillshade_3pm, Length: 255, dtype: int64
*******************************
618     1412
541     1099
607     1054
942     1023
997     1004
        ...
7126       1
6798       1
6816       1
6355       1
6948       1
Name: Horizontal_Distance_To_Fire_Points, Length: 5827, dtype: int64
*******************************
0    320216
1    260796
Name: Wilderness_Area1, dtype: int64
*******************************
0    551128
1     29884
Name: Wilderness_Area2, dtype: int64
*******************************
0    327648
1    253364
Name: Wilderness_Area3, dtype: int64
*******************************
0    544044
1     36968
Name: Wilderness_Area4, dtype: int64
*******************************
0    577981
1      3031
Name: Soil_Type1, dtype: int64
*******************************
0    573487
1      7525
Name: Soil_Type2, dtype: int64
*******************************
0    576189
1      4823
Name: Soil_Type3, dtype: int64
*******************************
0    568616
1     12396
Name: Soil_Type4, dtype: int64
*******************************
0    579415
1      1597
Name: Soil_Type5, dtype: int64
*******************************
0    574437
1      6575
Name: Soil_Type6, dtype: int64
*******************************
0    580907
1       105
Name: Soil_Type7, dtype: int64
*******************************
0    580833
1       179
Name: Soil_Type8, dtype: int64
*******************************
0    579865
1      1147
Name: Soil_Type9, dtype: int64
*******************************
0    548378
1     32634
Name: Soil_Type10, dtype: int64
*******************************
0    568602
1     12410
Name: Soil_Type11, dtype: int64
*******************************
0    551041
1     29971
Name: Soil_Type12, dtype: int64
*******************************
0    563581
1     17431
Name: Soil_Type13, dtype: int64
*******************************
0    580413
1       599
Name: Soil_Type14, dtype: int64
*******************************
0    581009
1         3
Name: Soil_Type15, dtype: int64
*******************************
0    578167
1      2845
Name: Soil_Type16, dtype: int64
*******************************
0    577590
1      3422
Name: Soil_Type17, dtype: int64
*******************************
0    579113
1      1899
Name: Soil_Type18, dtype: int64
*******************************
0    576991
1      4021
Name: Soil_Type19, dtype: int64
*******************************
0    571753
1      9259
Name: Soil_Type20, dtype: int64
*******************************
0    580174
1       838
Name: Soil_Type21, dtype: int64
*******************************
0    547639
1     33373
Name: Soil_Type22, dtype: int64
*******************************
0    523260
1     57752
Name: Soil_Type23, dtype: int64
*******************************
0    559734
1     21278
Name: Soil_Type24, dtype: int64
*******************************
0    580538
1       474
Name: Soil_Type25, dtype: int64
*******************************
0    578423
1      2589
Name: Soil_Type26, dtype: int64
*******************************
0    579926
1      1086
Name: Soil_Type27, dtype: int64
*******************************
0    580066
1       946
Name: Soil_Type28, dtype: int64
*******************************
0    465765
1    115247
Name: Soil_Type29, dtype: int64
*******************************
0    550842
1     30170
Name: Soil_Type30, dtype: int64
*******************************
0    555346
1     25666
Name: Soil_Type31, dtype: int64
*******************************
0    528493
1     52519
Name: Soil_Type32, dtype: int64
*******************************
0    535858
1     45154
Name: Soil_Type33, dtype: int64
*******************************
0    579401
1      1611
Name: Soil_Type34, dtype: int64
*******************************
0    579121
1      1891
Name: Soil_Type35, dtype: int64
*******************************
0    580893
1       119
Name: Soil_Type36, dtype: int64
*******************************
0    580714
1       298
Name: Soil_Type37, dtype: int64
*******************************
0    565439
1     15573
Name: Soil_Type38, dtype: int64
*******************************
0    567206
1     13806
Name: Soil_Type39, dtype: int64
*******************************
0    572262
1      8750
Name: Soil_Type40, dtype: int64
*******************************
2    283301
1    211840
3     35754
7     20510
6     17367
5      9493
4      2747
Name: class, dtype: int64
*******************************